<table style="background-color: #003668; width: 100%; border: none; border-spacing: 0;">
    <tbody>
        <tr>
            <td style="font-family: 'Ubuntu'; text-align: center; padding: 0;">
                <table
                    style="text-align: center; padding-left: 2em; padding-right: 2em; width: 600px; border: none; border-spacing: 0; max-width: 600px; margin: 2em auto 2em auto;">
                    <tbody>
                        <tr>
                            <td style="font-family: 'Ubuntu';" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; color: #1bffff; font-size: 28PX; text-align: center; font-weight: bold; margin-bottom: 0;">
                                    ACTIVATE YOUR ACCOUNT <img style="height: 1.1em; vertical-align: bottom;"
                                        src="https://www.digitalmaterai.com/mail/assets/AccountActivationIcon.png"
                                        alt="" /></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-family: 'Ubuntu'; background-color: #003668; width: 50%;"><img
                                    style="height: 17em;"
                                    src="https://www.digitalmaterai.com/mail/assets/AccountActivation.png" alt="" />
                            </td>
                            <td style="font-family: 'Ubuntu'; background-color: #003668; width: 50%;">
                                <p
                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    Hi BUDI PRAKOSO</p>
                                <p
                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    Thank you for signing up for Digital Materai account To get you started, Please
                                    click the ACTIVATE button to complete your activation.</p>
                                <p
                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    If you didn&rsquo;t submit your email address to join, please ignore this message.
                                    Regards,</p>
                                <p
                                    style="font-family: 'Ubuntu';margin:0;  color: #fff; text-align: left; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    The Digital Materai support team</p>
                                <p
                                    style="font-family: 'Ubuntu'; margin:0; color: #fff; text-align: LEFT; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    Your corporate code is :</p>
                                <p
                                    style="font-family: 'Ubuntu';  margin:0;  color: #fff; padding: 0; text-align: left; font-weight: bold; font-size: 26PX; line-height: 1;">
                                    999-999-999</p>
                            </td>
                        </tr>
                        <tr style="background-color: #1bffff; width: 100%; height: 0.4em;">
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    By clicking this button, you agree to the LEGAL AGREEMENT of Peruri CA Certificate
                                </p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2"><a> <button
                                        style="font-size: 1.2em; padding: 0.8em; background: #003668; color: white; font-weight: bold; box-shadow: none; border-radius: 15px; border: 2px solid white;">ACTIVATE</button>
                                </a></td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    If the above link is not clickable, try copying and pasting this URL</p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu';" colspan="2"><a
                                    style="color: #27bfe1; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5; text-decoration: none;"
                                    href="https://www.peruri.co.id/ca/legal_repository/Peruri_CA_-_CP_v1.3.pdf">https://www.peruri.co.id/ca/legal_repository/Peruri_CA_-_CP_v1.3.pdf</a>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    NOTE : This message is generated by system. Please do not reply this email.</p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center; margin-bottom: 1em;">
                            <td style="font-family: 'Ubuntu'; padding-bottom: 1em;" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    If you have questions, please contact us at : info@digitalmaterai.com</p>
                            </td>
                        </tr>
                        <tr style="background-color: #1bffff; padding-top: 1em; width: 100%; height: 0.4em;">
                        </tr>
                        <tr>
                            <td style="font-family: 'Ubuntu'; width: 100%;" colspan="2">
                                <table style="float: left;" width="100" align="left">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Ubuntu'; background-color: #003668; padding-top: 1em; width: 20%;">
                                                <img style="height: 5em;"
                                                    src="https://www.digitalmaterai.com/mail/assets/logoWhite.png"
                                                    alt="" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="400" align="right">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Ubuntu'; background-color: #003668; padding-top: 1em; width: 80%;">
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5; text-decoration: none;">
                                                    www.digitalmaterai.com</p>
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                                    021-31996197</p>
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                                    Gd. GHJ Suite, Jl. Tanah Abang III No. 18, Jakarta Pusat, Indonesia
                                                </p>
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                                    info@digitalmaterai.com</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>