<table style="width: 100%; border-spacing: 0; border: none; background-color: #003668;">
    <tbody>
        <tr>
            <td style="padding: 0; text-align: center; font-family: 'Ubuntu';">
                <table
                    style="text-align: center; padding-left: 2em; padding-right: 2em; width: 600px; border: none; border-spacing: 0; max-width: 600px; margin: 2em auto 2em auto;">
                    <tbody>
                        <tr>
                            <td style="font-family: 'Ubuntu';" colspan="2">
                                <p
                                    style="color: #1bffff; font-weight: bold; font-size: 28PX; text-align: center; margin-bottom: 0; font-family: 'Ubuntu';">
                                    OTP VERIFICATION <img style="height: 1.1em; vertical-align: bottom;"
                                        src="https://www.digitalmaterai.com/mail/assets/OTPVerificationIcon.png"
                                        alt="" /></p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 50%; background-color: #003668; font-family: 'Ubuntu';"><img
                                    style="height: 17em;"
                                    src="https://www.digitalmaterai.com/mail/assets/OTPVerification.png" alt="" /></td>
                            <td style="width: 50%; background-color: #003668; font-family: 'Ubuntu';">
                                <p
                                    style="text-align: left; font-size: 17px; font-weight: 400; line-height: 1.5; color: #fff; font-family: 'Ubuntu';">
                                    Hi BUDI PRAKOSO</p>
                                <p
                                    style="text-align: left; font-size: 17px; font-weight: 400; line-height: 1.5; color: #fff; padding-right: 2em; font-family: 'Ubuntu';">
                                    You have requested One-Time Password (OTP) Code to verify your digital signature
                                    process.</p>
                                <p
                                    style="font-size: 17px; font-weight: 400; line-height: 1.5; color: #fff; text-align: left; font-family: 'Ubuntu';">
                                    The Following 6-digits is your OTP Code:</p>
                            </td>
                        </tr>
                        <tr style="background-color: #1bffff; width: 100%; height: 0.4em;">
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2">
                                <p
                                    style="color: #003668; font-family: 'Ubuntu'; font-size: 28PX; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-weight: bold;">
                                    1 2 3 5 8 3</p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2">
                                <p
                                    style="color: #003668; font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    This OTP Code is valid for the next 5 minutes.</p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu';" colspan="2">
                                <p
                                    style="color: #003668; font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    For your account safety, please DO NOT SHARE DO NOT SHARE this OTP Code to anyone.
                                </p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center;">
                            <td style="font-family: 'Ubuntu'; padding-top: 1em;" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    NOTE : This message is generated by system. Please do not reply this email.</p>
                            </td>
                        </tr>
                        <tr style="background-color: #fff; text-align: center; margin-bottom: 1em;">
                            <td style="font-family: 'Ubuntu'; padding-bottom: 1em;" colspan="2">
                                <p
                                    style="font-family: 'Ubuntu'; padding-right: 0.5em; padding-left: 0.5em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                    If you have questions, please contact us at : info@digitalmaterai.com</p>
                            </td>
                        </tr>
                        <tr style="background-color: #1bffff; padding-top: 1em; width: 100%; height: 0.4em;">
                        </tr>
                        <tr>
                            <td style="font-family: 'Ubuntu'; width: 100%;" colspan="2">
                                <table style="float: left;" width="100" align="left">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Ubuntu'; background-color: #003668; padding-top: 1em; width: 20%;">
                                                <img style="height: 5em;"
                                                    src="https://www.digitalmaterai.com/mail/assets/logoWhite.png"
                                                    alt="" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table width="400" align="right">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family: 'Ubuntu'; background-color: #003668; padding-top: 1em; width: 80%;">
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5; text-decoration: none;">
                                                    www.digitalmaterai.com</p>
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                                    021-31996197</p>
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                                    Gd. GHJ Suite, Jl. Tanah Abang III No. 18, Jakarta Pusat, Indonesia
                                                </p>
                                                <p
                                                    style="font-family: 'Ubuntu'; color: #fff; text-align: left; padding-right: 2em; margin: 0; font-size: 17px; font-weight: 400; line-height: 1.5;">
                                                    info@digitalmaterai.com</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>