.textBiruTua{
   color: #003668
}
.textBiruMuda{
    color: #1BFFFF
 }
 .textBiruMuda2{
     color: #27bfe1;
 }
.textBiru{
    color: #005bbd
 }
.textAbuAbu{
    color:#023668
}
.textHitam{
    color:#344763
}
.textKuning{
    color:#ffd400
}
.textWhite{
    color: #fff;
}
.title{
    font-size: 28PX;
}
.bgBiruTua{
    background-color:#003668 ;
}
.bgBiruMuda{
    background-color: #1BFFFF
 }
.bgBiru{
    background-color: #005bbd
 }
.bgAbuAbu{
    background-color:#8591a1
}
.bgHitam{
    background-color:#344763
}
.bgKuning{
    background-color:#ffd400
}
.bgWhite{
    background-color: #fff;
}
.flex{
    display: flex;
}
.textCenter{
    text-align: center;
}
.textLeft{
    text-align: left;
}
.textRight{
    text-align: right;
}
.p0{
    padding: 0;
}
.p5{
    padding: 2em ;
}
.pl5{
    padding-left: 2em ;
}
.pr5{
    padding-right: 2em ;
}
.pt5{
    padding-top: 2em ;
}
.pb5{
    padding-bottom: 2em ;
}
.pt1{
    padding-top: 1em;
}
.pr1{
    padding-right: 1em;
}
.pr05{
    padding-right: 0.5em;
}
.pl1{
    padding-left: 1em;
}
.pl05{
    padding-left:0.5em;
}
.pb1{
    padding-bottom: 1em;
}
.m0{
    margin: 0;
}
.m5{
    margin: 2em ;
}
.ml5{
    margin-left: 2em ;
}
.mr5{
    margin-right: 2em ;
}
.mt5{
    margin-top: 2em ;
}
.mb5{
    margin-bottom: 2em ;
}
.mb1{
    margin-bottom: 1em ;
}
.mt1{
    margin-top: 1em;
}
.w100{
    width: 100%;
}
.w50{
    width: 50%;
}
.w30{
    width: 30%;
}
.w20{
    width: 20%;
}
.w80{
    width: 80%;
}
.borderCollapse{
    border-collapse:collapse;
}
.borderNone{
    border:none;
}
.borderSpacing0{
    border-spacing:0;
}
.h20{
    height: 17em;
}
.textBold{
    font-weight: bold;
}
.textBesar{
    font-size: 1.2em;
}
.textBiasa{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
}
.h1{
    height: 1.1em;
    vertical-align: bottom;
}
.h5{
    height: 5em;
}
.h05{
    height: 0.4em;
}
.wKonten{
    width: 600px;
    max-width: 600px;
}
.mXAuto{
    margin-left: auto;
    margin-right: auto;
}
.btn{
    padding: 0.8em;
    background: #003668;
    color: white;
    font-weight: bold;
    box-shadow: none;
    border-radius: 15px;
    border: 2px solid white;
}
.textDecorationNone{
    text-decoration: none;
}
.ml003{
    margin-left: -5em;
}
.mb0{
    margin-bottom: 0;
}
.ss{
    font-size: xx-small;
}